{
  "users": [
    {
      "id": "1",
      "username": "admin",
      "email": "admin@arenagen.com",
      "password": "change_this_password",
      "createdAt": "2024-11-03T10:00:00.000Z",
      "role": "admin"
    },
    {
      "id": "2",
      "username": "user1",
      "email": "user1@example.com",
      "password": "change_this_password",
      "createdAt": "2024-11-03T10:00:00.000Z",
      "role": "user"
    }
  ]
}
